.pro-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  color: #fff;
}

.pro-sidebar .pro-menu-item {
  padding: 10px;
  cursor: pointer;
}

.pro-sidebar .pro-menu-item:hover {
  background-color: #333;
}   

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #444;
}

.toggle-btn:hover {
  background-color: #555;
}







.pro-sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .pro-sidebar .pro-menu-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .pro-sidebar .pro-menu-item:hover {
    background-color: #333;
  }   
  
  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #444;
 
  }
  
  .toggle-btn:hover {
    background-color: #555;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  











































